<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="./style/index.css" >
    <meta property="og:image" content="https://labs.braniecki.net/covid19-timeseries/thumbnail.png"/>
    <script src="./js/helpers.js"></script>
    <script src="./js/regions.js"></script>
    <script src="./vendor/vue.min.js"></script>
    <!-- <script src="https://vuejs.org/js/vue.js"></script> -->
    <script src="./js/index.js"></script>
    <title>COVID-19 Regional Relative Timeseries</title>
  </head>
  <body>
    <div id="app" style="display: none">
      <div id="main">
        <table id="data" cellspacing="0" cellpadding="0" v-bind:class="data.selectedView == 'total' ? 'total' : ''">
          <thead>
            <tr class="name">
              <th></th>
              <th class="value" v-for="item in data.main.regions" :key="item.id" colspan="2">
                {{ item.name }}
              </th>
            </tr>
            <tr class="country" v-bind:style="data.main.rows.country ? '' : 'display: none'">
              <th>Country:</th>
              <th class="value" v-for="item in data.main.regions" colspan="2">
                {{ item.country }}
              </th>
            </tr>
            <tr class="state" v-bind:style="data.main.rows.state ? '' : 'display: none'">
              <th>State:</th>
              <th class="value" v-for="item in data.main.regions" colspan="2">
                {{ item.state }}
              </th>
            </tr>
            <tr class="county" v-bind:style="data.main.rows.county ? '' : 'display: none'">
              <th>County:</th>
              <th class="value" v-for="item in data.main.regions" colspan="2">
                {{ item.state }}
              </th>
            </tr>
            <tr class="population" v-bind:style="data.main.rows.population ? '' : 'display: none'">
              <th>Popul.:</th>
              <th class="value" v-for="item in data.main.regions" colspan="2">
                {{ item.population }}
              </th>
            </tr>
            <tr>
              <th class="relDay">Δ Day</th>
              <template v-for="sample in data.main.regions">
                <th class="day">Date</th>
                <th class="value">#</th>
              </template>
            </tr>
          </thead>
          <tr v-for="item in data.main.dates">
            <td class="relDay">
              <a v-bind:name="'day' + item.num" class="target"></a>
              {{ item.num }}
            </td>
            <template v-for="sample in item.values">
              <template v-if="sample">
                <td
                  class="day"
                  v-bind:class="{ today: sample.isToday, quarantine: sample.quarantine, normalized: sample.normalized }">
                  {{ sample.date.toLocaleDateString(undefined, { month: "numeric", day: "numeric" }) }}
                </td>
                <td
                  class="value"
                  v-bind:class="{ quarantine: sample.quarantine, normalized: sample.normalized }"
                  v-bind:style="sample.min ? {} : { backgroundColor: sample.color }">
                  {{ sample.value }}
                </td>
              </template>
              <template v-else>
                <td class="day empty"></td>
                <td class="value empty"></td>
              </template>
            </template>
          </tr>
        </table>
      </div>
      <div id="sidebar">
        <table id="legend" cellspacing="0" cellpadding="0">
          <tr>
            <td style="background-color: rgb(221, 238, 255)">{{ data.legend.min }}</td>
            <td style="background-color: #ffffcc">Today</td>
          </tr>
          <tr>
            <td colspan="2">
              <a href="https://github.com/zbraniecki/covid19-timeseries">Github repo<a/>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <a href="https://github.com/pomber/covid19">Data source</a>
            </td>
          </tr>
          <tr>
            <td>
              Inspired by <a href="https://twitter.com/Nathan510edge">@Nathan510edge</a>
            </td>
          </tr>
        </table>
        <dl>
          <dt>Type</dt>
          <dd>
            <select id="typeSelect">
              <option
                v-for="item in data.select.types"
                v-bind:selected="data.selectedType === item.id"
                v-bind:value="item.id"
                :key="item.id">
              {{ item.name }}
              </option>
            </select>
          </dd>
        </dl>
        <dl>
          <dt>View</dt>
          <dd>
            <select id="viewSelect">
              <option
                v-for="item in data.select.views"
                v-bind:selected="data.selectedView === item.id"
                v-bind:value="item.id"
                :key="item.id">
              {{ item.name }}
              </option>
            </select>
          </dd>
        </dl>
        <p>Regions</p>
        <input id="regionFilter" type="text" placeholder="Search..."/>
        <input id="regionFilterClear" type="button" value="x"/>
        <select multiple id="regionSelect">
          <option
            v-for="item in data.select.regions"
            v-bind:selected="data.main.regions.find(r => r.id == item.id)"
            v-bind:class="{ filteredOut: !item.visible }"
            v-bind:value="item.id"
            :key="item.id">
          {{ item.name }}  -- {{ item.value }}
          </option>
        </select>
        <dl
            v-for="tax in data.select.taxonomies"
          >
          <dt><label v-bind:for="'taxonomy' + tax.id">{{ tax.name }}</label></dt>
          <dd>
            <input
              v-bind:id="'taxonomy' + tax.id"
              class="taxonomyCheckbox"
              v-bind:checked="data.selectedTaxonomies.includes(tax.id)"
              v-bind:value="tax.id"
              type="checkbox"/>
          </dd>
        </dl>
      </div>
    </div>
  </body>
</html>
