body {
  font-family: Inter,X-LocaleSpecific,sans-serif;
  padding: 0;
  padding-left: 5px;
  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 85% 15%;
}

#main {
  grid-column: 1;
  grid-row: 1;
  overflow: auto;
}

table#data {
  overflow: auto;
  height: 100px;
}

a.target {
  display: block;
  position: relative;
  top: -48px;
  visibility: hidden;
}

table#data thead {
  background-color: white;
  position: sticky;
  top: 0;
  border-right: 1px solid #999999;
}

table#data thead tr:nth-child(1) th {
  padding-top: 10px;
  font-size: 1.4em;
  color: black;
}

table#data thead tr:nth-child(1) th.value {
  text-align: center;
}

table#data thead tr th {
  padding: 0 5px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

table#data thead tr {
  font-size: 0.7em;
  color: #999999;
}

table#data.total tbody tr:nth-child(1) td.normalized {
  background-color: rgb(221, 238, 255) !important;
}

table#data td {
  font-size: 0.9em;
  padding: 3px;
  border-bottom: 1px solid #dddddd;
}

table#data td.empty {
  border-bottom: none !important;
}


table#data td:nth-child(1), table#data th:nth-child(1) {
  text-align: center;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

table#data td.value, table#data th.value {
  border-right: 1px solid #999999;
}

table#data td.today {
  background-color: #ffffcc !important;
}

table#data td.day.quarantine {
  border-left: 2px solid orange;
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
}

table#data td.day {
  font-size: 0.6em;
  font-weight: bold;
  color: #555555;
  text-align: right;
}

table#data td.value,
table#data th.value {
  padding: 0 10px;
  text-align: right;
}

table#data td.value.quarantine {
  border-right: 2px solid orange;
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
}

#sidebar {
  grid-column: 2;
  grid-row: 1;
  padding-left: 5px;
  padding-right: 5px;
}

#sidebar select {
  width: 100%;
}

#sidebar input#regionFilter {
  width: 70%;
}

#sidebar input#regionFilterClear {
  width: 20%;
}

#sidebar select#regionSelect {
  height: 50%;
}

#sidebar select#regionSelect option.filteredOut {
  display: none;
}

#sidebar dl {
  display: table-row;
}

#sidebar dt {
  padding-right: 10px;
}

#sidebar dt,
#sidebar dd {
  display: table-cell;
}


table#legend {
  width: 90%;
  border: 1px solid #333333;
  margin: 10px;
}

table#legend tr.color {
  font-size: 1.2em;
  line-height: 1.4em;
}

table#legend td {
  font-size: 0.7em;
  padding: 3px 5px;
}

